<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
</head>

<body>
    <!-- Page wrapper starts here -->
    <div class="page-wrapper">
        <%- include("../partials/header") %>
            <%- include("../partials/navigation") %>

                <main>
                    <%- body %> <!-- this is where each page content goes -->
                </main>

                <%- include("../partials/footer") %>
    </div>
    <!-- Page wrapper ends here -->
</body>

</html>